a.badge-html {
    background-color: #e44d26;
    color: white;
}

a.badge-css {
    background-color: #264de4;
    color: white;
}

a.badge-sass {
    background-color: #cc6699;
    color: white;
}

a.badge-javascript {
    background-color: #f7df1e;
    color: black;
}

a.badge-php {
    background-color: #8993be;
    color: white;
}

a.badge-frontend {
    background-color: #4caf50;
    color: white;
}

a.badge-backend {
    background-color: #f44336;
    color: white;
}

a.badge-fullstack {
    background-color: #2196F3;
    color: white;
}

a.badge-database {
    background-color: #ff9800;
    color: white;
}

a.badge-api {
    background-color: #9c27b0;
    color: white;
}

a.badge-uiux {
    background-color: #3f51b5;
    color: white;
}

a.badge-devops {
    background-color: #e91e63;
    color: white;
}