.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    margin: 3px auto;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;

    &:hover {
        transform: scale(1.1);
    }
}

// Classi teconologie
a.badge-html {
    background-color: #e44d26;
    color: white;
}

a.badge-css {
    background-color: #264de4;
    color: white;
}

a.badge-sass {
    background-color: #cc6699;
    color: white;
}

a.badge-javascript {
    background-color: #f7df1e;
    color: black;
}

a.badge-php {
    background-color: #8993be;
    color: white;
}

a.badge-sql {
    background-color: #3f51b5;
    color: white;
}

// Classi tipo
a.badge-frontend {
    background-color: #4caf50;
    color: white;
}

a.badge-backend {
    background-color: #f44336;
    color: white;
}

a.badge-fullstack {
    background-color: #2196F3;
    color: white;
}

a.badge-database {
    background-color: #ff9800;
    color: white;
}


// Classi Frameworks
a.badges-laravel {
    background-color: #FF2D20;
    color: white;
}

a.badges-vuejs {
    background-color: #42b883;
    color: white;
}

a.badge-bootstrap {
    background-color: #563d7c;
    color: white;
}


a.badge-no-class {
    background-color: #e44d26;
    color: black;
}