.dark-theme {
    background-color: #181818;
    color: #f5f5f5;
    border-color: #444444;
    background-image: url('../../../public/dark_theme_dk.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    a {
        color: #f5f5f5;

    }

    footer,
    header{
        background-color: #030303;
    }

    footer{
        box-shadow: 0 -4px 8px rgb(28, 28, 28);
    }
    header{
        box-shadow: 0 4px 8px rgb(28, 28, 28);
    }

    .paginator_btn{
        button{
            background-color: #182137;

            &:hover {
                background-color: #2b395e;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .search_bar{
        input{
            border: 1px solid rgb(255, 255, 255);
        }
    }
    // Home
    .wrapper-home-top{
        .header-welcome{
            .wrap-info-profile{
                // background-color: #242424;
                // border: 1px solid black;
                img{
                    border: 2px solid white;
                }
                .btns{
                    .btn{
                        color: #ffffff;
                        border: 2px solid #2a3b5a;
                        &.info-profile{
                            background-color: #182137;
                            &:hover{
                                background-color: #2a3b5a;
                                box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
                            }
                        }
                        &.info-projects{
                            background-color: #1F2A44;
                            &:hover{
                                background-color: #36466B;
                                box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapper-home-bottom{
        .skills-wrapper{
            background-color: #242424;
            border: 1px solid black;
        }
        h3{
            color: #E0E0E0;
        }
    }
    .card{
        background-color: #242424;
        border: 1px solid black;
        border-radius: 5px;
        h4{
            color: #E0E0E0;
        }
        p{
            color: #B0B3B8;
        }
    }
}

.light-theme {
    background-color: #f5f5f5;
    color: #333333;
    border-color: #dddddd;
    background-image: url('../../../public/light_theme_dk.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    a {
        color: #333333;
    }

    footer,
    header{
        background-color: #F8F9FA;
    }
    
    footer{
        box-shadow: 0 -4px 8px rgb(202, 202, 202);
    }
    header{
        box-shadow: 0 4px 8px rgb(202, 202, 202);
    }
    .paginator_btn{
        button{
            background-color: #007bff;

            &:hover {
                background-color: #0060c6;
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
            }
        }
    }
    .search_bar{
        input{
            border: 1px solid #80B4E0;
        }
    }
    // Home
    .wrapper-home-top{
        .header-welcome{
            .wrap-info-profile{
                // background-color: #F8F9FA;
                // border: 1px solid #80B4E0;
                img{
                    border: 2px solid #80B4E0;
                }

                .btns{
                    .btn{
                        color: #0060c6;
                        border: 2px solid #80B4E0;
                        &.info-profile{
                            background-color: #E3F2FD;
                            &:hover{
                                background-color: #c2e0ff;
                                box-shadow: 0 4px 8px rgba(0, 96, 198, 0.2);
                            }
                        }
                        &.info-projects{
                            background-color: #D0E7FF;
                            &:hover{
                                background-color: #A3D0FF;
                                box-shadow: 0 4px 8px rgba(0, 96, 198, 0.2);
                            }
                        }
                    }
                }
            }
        }
    }
    .wrapper-home-bottom{
        .skills-wrapper{
            background-color: #F8F9FA;
            border: 1px solid #80B4E0 ;
        }

        h3{
            color: #007bff;
        }
    }
    .card{
        background-color: #F8F9FA;
        border: 1px solid #80B4E0 ;
        border-radius: 5px;
        h4{
            color: #007bff;
        }
        p{
            color: #4A4A4A;
        }
    }

}

a.badge-tech {
    background-color: yellowgreen;
    color: black;
}

a.badge-type {
    background-color: #007bff;
    color: white;
}


@media screen and (max-width: 760px) {
    .dark-theme {
        background-image: url(../../../public/dark_theme_sm.jpeg);
    }
}

@media screen and (max-width: 760px) {
    .light-theme {
        background-image: url(../../../public/light_theme_sm.jpeg);
    }
}