@import url('./partials/__themes.scss');
@import url('./partials/__badges.scss');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;

    a {
        text-decoration: none;
        color: white;
    }
}

#my_loader {
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}